#yui-main
  .yui-b
    .yui-g
      -@genres.in_groups_of(14, false) do |group| 
        -content_tag :div, :class => "genre #{group.first.name}" do
          -group.each do |genre| 
            = link_to(t("genres.#{genre.name}"), genre_movies_path(genre))
            = link_to "(#{genre_movies_torrents(genre)} /", genre_movies_path(genre)  
            = link_to "#{genre.movies.size})", genre_movies_path(genre, :without => 1) 
            %br
        %br

.yui-b
  = render :partial => "movies/side_panel"

