#yui-main
  .yui-b
    .yui-g
      -@genres.in_groups_of(14, false) do |group| 
        -content_tag :div, :class => "genre #{group.first.name}" do
          -group.each do |genre| 
            = link_to(t("genres.#{genre.name}"), genre_movies_path(genre))
            = link_to "(#{genre_movies_torrents(genre)} /", genre_movies_path(genre)  
            = link_to "#{genre.movies.size})", genre_movies_path(genre, :without => 1) 
            %br
        %br

.yui-b
  #search_block 
    = t('txt.query_title')
    -form_tag(searches_path, :method => :get) do 
      = text_field_tag :query, params[:query]
      = select_tag :genre_id, options_for_select(Genre.options_for_select, params[:genre_id].to_i)
      %br 
      = t('sort.rating')
      = select_tag :rating, options_for_select(@rating, params[:rating]) 
      %br
      = check_box_tag :without, 1, params[:without] == "1" ? true : false  
      = t('txt.without')
      %br
      %br
      = submit_tag t('buttons.show') 

