#title 
  = t('user.alert_all')
-form_for [@current_user, @weekly_alert] do |f|
  .genre_select
    = t('txt.genre') 
    = f.select :genre_id, Genre.options_for_select
  .rating
    = t('sort.rating')  
    = f.select :rating, @rating
  .submit
    = submit_tag t('user.submit') 
.alert_cancel
  = link_to(t('user.alert_cancel'), user_path(current_user))
%br   

