%li
  #poster
    = link_to(image_tag(movie.poster, :width => 100), movie_path(movie))
  #movie_features
    = t('title') 
    = link_to(movie.title, movie_path(movie)) 
    = t('sort.rating')
    = movie.rating 
    %br
    -if movie.torrents.any? 
      torrents: 
      -movie.torrents.each do |torrent| 
        = link_to("torrent (#{number_to_human_size(torrent.size)})", torrent_url(torrent), :title => torrent.title)
    -else 
      | there's no torrent avaliable yet
    = link_to(t('subtitles.foreign'), subtitles_url(cookies[:locale], "#{movie.imdb_id}")) if cookies[:locale] != "en"
    |
    = link_to(t('subtitles.english'), subtitles_url("eng", "#{movie.imdb_id}")) 
    |
    %br
    = t('txt.plot')
    = movie.plot 
    %br

