#search_block 
  -form_tag(searches_path, :method => :get) do 
    = text_field_tag :query, params[:query], :id => "search_query", :size => 14
    = submit_tag t('buttons.query'), :id => "submit"
    %ul.autocomplete_results
    #more
      = link_to(t('txt.more'))
    #advanced_search
      = select_tag :genre_id, options_for_select(Genre.options_for_select)
      %br
      = t('sort.rating') 
      = select_tag :rating, options_for_select(@rating, params[:rating]) 
      %br
      = check_box_tag :without, 1, params[:without] == "1" ? true : false  
      = t('txt.without')
    %br
    #less
      = link_to(t('txt.less'))
    

#account
  -if !current_user
    #no_user
      #login
        = link_to(t('user.login'), new_login_email_path)
      #register
        = link_to(t('user.register'), new_user_path)
      #why_register
        = link_to(t('txt.why_register'))
        = link_to(image_tag("http://darmowegrafiki.5m.pl/pytajniki/gify_ikony/scr_symQuestion.gif"))
      #register_urge
        = t('txt.register_urge')
  -else
    #there_is_user
      #account
        = link_to(t('user.account'), user_path(current_user))
      #logout
        = link_to(t('user.logout'), user_session_path, :method => :delete, :confirm => t('user.confirm'))




