#search_block 
  -form_tag(searches_path, :method => :get) do 
    = text_field_tag :query, params[:query], :id => "search_query", :size => 14
    = submit_tag t('buttons.query'), :id => "submit", :name => nil
    %ul.autocomplete_results
    #more
      = link_to(t('txt.more'))
    #advanced_search
      = select_tag :genre_id, options_for_select(Genre.options_for_select)
      %br
      = t('sort.rating') 
      = select_tag :rating, options_for_select(@rating, params[:rating]) 
      %br
      = check_box_tag :without, 1, params[:without] == "1" ? true : false  
      = t('txt.without')
    %br
    #less
      = link_to(t('txt.less'))
#ajax_features
  -if @users_array
    = render :partial => "/compare_tastes/find_closest_users", :locals => {:users_array => @users_array}
  -if @fuser_votes
    = render :partial => "/votes/last_votes", :locals => {:fuser_votes => @fuser_votes}
          



