#yui-main
  .yui-b
    .yui-gd
      .link_comunication
        = link_to t('txt.main'), genres_path
        >>
        %span= t("genres.#{@genre.name}")
      .page_topic
        = t('txt.category')
        = t("genres.#{@genre.name}") 
      .sort
        .sort_title
          = t('sort.sort') 
        .sort_choice
          -form_tag(movies_path, :method => :get) do 
            = hidden_field_tag :genre_id, params[:genre_id]
            = hidden_field_tag :rating, params[:rating]
            = select_tag :sort_by, options_for_select(@sort_by, params[:sort_by]) 
            = submit_tag t('buttons.show') 
            = check_box_tag :without, 1, params[:without] == "1" ? true : false
            = t('txt.without')
      .paginate
        = will_paginate @movies 
      %ul{:class => "movie_list"}
        -@movies.each do |movie| 
          -if movie.poster
            %li.is_poster
              #poster
                = image_tag(movie.poster, :width => 100)
              = render :partial => movie
          -else
            %li
              = render :partial => movie
      %br
      .paginate
        = will_paginate @movies 
      %br
      .link_comunication
        = link_to t('txt.main'), genres_path
        >>
        %span= t("genres.#{@genre.name}")


.yui-b#side_panel
  = render :partial => "movies/side_panel" 
