.link_comunication
  = link_to(t('txt.main'), genres_path) 
  = " >> #{link_to(genre_name(@genre_id), genre_movies_path(@genre_id, :without => 1))} " if @genre_id
  >>
  %span= @movie.title
%br
#yui-main
  .yui-b
    .yui-g
      -if @movie.poster
        .movie_details
          = render :partial => "movies/movie_details_with_poster"
      -else
        .movie_details  
          = render :partial => "movies/movie_details"
.yui-b#side_panel
  = render :partial => "movies/side_panel" 


