-content_tag :div, :class => "one_movie_is_poster", :id => movie_id, :rel => rel do
  #poster
    = link_to(image_tag(movie_poster, :height => 80), movie_path(movie_id)) if movie_poster 
  .rest
    #title 
      = link_to(movie_title, movie_path(movie_id))
    #user_rating
      %span
        = "#{t('user.your_rating')} #{current_user_rating}" 
      <br/>
      = "#{t('user.follower_rating')} #{compared_user_rating}"    
    .date
      = "#{t('user.voted_at')} #{date}" 

