.user
  = form.label t('user.user') 
  %br
  = form.text_field :login, :size => 20 
.photo
  = image_tag @user.gravatar_url(:default => "wavatar", :size => 50)
.subtitle_language
  = form.label t('user.language')
  = form.select :language, languages
%br


