.link_comunication
  = link_to t('txt.main'), genres_path
  >>
  %span= @user.login
.page_topic
  = t('user.account')
-content_tag :div, :class => "user_account" do
  .edit_account
    = link_to(t('user.edit'), edit_account_path)
  .delete_account
    = link_to(t('user.delete'), user_path(@user), :method => :delete, :confirm => t('user.confirm'))
  .user
    = t('user.user')
    .photo
      = image_tag @user.gravatar_url(:default => "wavatar", :size => 50) 
    .login
      =h @user.login 
  .subtitle_language
    .user_language
      = t('user.language')
    .user_language_form
      -form_for @current_user do |f|
        = f.select :language, languages
    .tip
      %button= image_tag(("/images/query2.png"), :rel => t('txt.language_information'))
.user_form
  .tip
    %button= image_tag(("/images/query2.png"), :rel => "#{t('txt.alert_information1')} \n #{t('txt.alert_information2')} \n #{t('txt.alert_information3')}" )
  #alerts_topic
    = t('user.form')
  #alerts_results
    = render :partial => "weekly_alerts/user_alerts"
  - unless (!@user.weekly_alerts.blank?) && (is_there_genre_all_choosen)
    #alert_add
      = link_to(t('user.alert_add'), new_user_weekly_alert_path(@user))
  #message
    = render :partial => "weekly_alerts/alert_params"
.user_movies_list
  .tip
    %button=image_tag(("/images/query2.png"), :rel => "#{t('user.movies_list_info1')} \n #{t('user.movies_list_info2')} \n #{t('user.movies_list_info3')}")
  .alerts_topic  
    = t("user.movies_list")
  .movie_list_results
    = render :partial => "users/movie_list"  
.link_comunication
  = link_to t('txt.main'), genres_path
  >>
  %span= @user.login
.tip_block





