-@user.alerts.each do |alert|
  -content_tag :div, :id => alert.id do
    %br 
    = t('txt.genre')
    = alert_genre(alert.genre_id)
    %br
    = t('sort.rating')
    = alert.rating 
    %br
    .alert_edit
      = link_to(t('user.edit'), edit_user_alert_path(@user, alert))
    .alert_delete
      = link_to(t('user.alert_del'), user_alert_path(@user, alert))
