!!! XML
!!!
%html{html_attrs("en-US")}
  %head
    %title Movie Pole
    %link{:rel => "search", :type => "application/opensearchdescription+xml", :title => "Search Movie", :href => "movie_pole.xml"}
    = stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" 
    = stylesheet_link_tag "application", "jquery.rating"
    = javascript_include_tag :defaults, "jquery_cookie", "jquery.autocomplete", "jquery.tmpl", "jquery.blockUI", "jquery.events", "jquery.rating", "jquery.metadata", "movie_pole"
    = auto_discovery_link_tag(:rss, movies_path(:format => :rss))
    - document_ready do
      = render_authenticity_token
      == translations = {"edit": "#{t("user.edit")}", "del": "#{t("user.alert_del")}", "rating": "#{t("sort.rating")}", "genre": "#{t("txt.genre")}", "alert_exist" : "#{t("user.alert_exist")}" }

  %body
    #doc2.yui-t4
      #hd
        %a{:href => "/genres"}   
          %h1
            %span= t('movie_pole')
        #language
          = t('txt.language')
          = select_tag(:locale, options_for_select(languages, cookies[:locale]))
        #account
          -if !current_user
            #no_user
              #login.style
                = link_to(t('user.login'), new_login_email_path)
              #register.style
                = link_to(t('user.register'), new_user_path)
                = image_tag("/images/query2.png")
              #register_urge
                = t('txt.register_urge')
          -else
            #there_is_user
              #comment.style
                = link_to(t("user.comment.topic"), comments_path)
              #account.style
                = link_to(t('user.account'), user_path(current_user))
              #logout.style
                = link_to(t('user.logout'), user_session_path, :method => :delete, :confirm => t('user.confirm'))
                
      #bd
        -if flash[:notice] or flash[:error] 
          #flash
            = flash[:notice]
            = flash[:error]
        -else
          #flash_for_js
        = yield
      #ft 
        #copyright
          Copyright Trix.pl
      #response
      #backgroundPopup
