!!! XML
!!!
%html{html_attrs("en-US")}
  %head
    %title Movie Pole
    %link{:rel => "search", :type => "application/opensearchdescription+xml", :title => "Search Movie", :href => "movie_pole.xml"}
    = stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" 
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults, "movie_pole", "jquery_cookie", "jquery.autocomplete", "jquery.tmpl", "jquery.blockUI"
    = auto_discovery_link_tag(:rss, movies_path(:format => :rss))
    - document_ready do
      = render_authenticity_token
      == translations = {"edit": "#{t("user.edit")}", "del": "#{t("user.alert_del")}", "rating": "#{t("sort.rating")}", "genre": "#{t("txt.genre")}", "alert_exist" : "#{t("user.alert_exist")}" }

  %body
    #doc2.yui-t4
      #hd
        #language
          = t('txt.language')
          = select_tag(:locale, options_for_select(languages, cookies[:locale]))
        %a{:href => "/genres"}   
          %h1
            %span= t('movie_pole')
        
                
      #bd
        #flash
          = flash[:notice]
          = flash[:error]
        = yield
      #ft 
        #copyright
          Copyright Trix.pl
      #response
      #backgroundPopup
